In [2]:
import pandas as pd
import numpy as np
import requests

In [3]:
df = pd.read_csv('realtor-data.csv')

In [16]:
df.head(5)

,status,bed,bath,acre_lot,city,state,zip_code,house_size,prev_sold_date,price
0,for_sale,3.0,2.0,0.12,Adjuntas,Puerto Rico,601.0,920.0,NaN,105000.0
1,for_sale,4.0,2.0,0.08,Adjuntas,Puerto Rico,601.0,1527.0,NaN,80000.0
2,for_sale,2.0,1.0,0.15,Juana Diaz,Puerto Rico,795.0,748.0,NaN,67000.0
3,for_sale,4.0,2.0,0.10,Ponce,Puerto Rico,731.0,1800.0,NaN,145000.0
4,for_sale,6.0,2.0,0.05,Mayaguez,Puerto Rico,680.0,NaN,NaN,65000.0

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   status          100000 non-null  object
 1   bed             75050 non-null   float64
 2   bath            75112 non-null   float64
 3   acre_lot        85987 non-null   float64
 4   city            99948 non-null   object
 5   state           100000 non-null  object
 6   zip_code        99805 non-null   float64
 7   house_size      75082 non-null   float64
 8   prev_sold_date  28745 non-null   object
 9   price           100000 non-null  float64
dtypes: float64(6), object(4)
memory usage: 7.6+ MB

In [20]:
df['status'].unique()

array(['for_sale', 'ready_to_build'], dtype=object)

In [21]:
df['status'].value_counts()

status
for_sale          99819
ready_to_build      181
Name: count, dtype: int64

In [22]:
df = df[df['status'] == 'for_sale']

In [23]:
df.head()

,status,bed,bath,acre_lot,city,state,zip_code,house_size,prev_sold_date,price
0,for_sale,3.0,2.0,0.12,Adjuntas,Puerto Rico,601.0,920.0,NaN,105000.0
1,for_sale,4.0,2.0,0.08,Adjuntas,Puerto Rico,601.0,1527.0,NaN,80000.0
2,for_sale,2.0,1.0,0.15,Juana Diaz,Puerto Rico,795.0,748.0,NaN,67000.0
3,for_sale,4.0,2.0,0.10,Ponce,Puerto Rico,731.0,1800.0,NaN,145000.0
4,for_sale,6.0,2.0,0.05,Mayaguez,Puerto Rico,680.0,NaN,NaN,65000.0

In [24]:
df['status'].unique()

array(['for_sale'], dtype=object)

In [26]:
df = df.sort_values(['status', 'city', 'state', 'price', 'house_size'])

In [27]:
df.duplicated(['status', 'city', 'state', 'price'])

73297    False
73643     True
77541     True
78205     True
78448     True
         ...
17699     True
11713    False
17074     True
17326     True
17783     True
Length: 99819, dtype: bool

In [28]:
df.duplicated(['status', 'city', 'state', 'price']).sum() #quantidade de duplicidades

87752

In [42]:
df = df.drop_duplicates(['status', 'city', 'state', 'price'])

In [32]:
df.shape

(12067, 10)

In [43]:
df['state'].value_counts()

state
Massachusetts     3349
Connecticut       3111
Puerto Rico       2207
Rhode Island      1456
New York           693
New Hampshire      532
Virgin Islands     506
Vermont            209
New Jersey           1
Virginia             1
Tennessee            1
South Carolina       1
Name: count, dtype: int64

In [45]:
df_massa = df[df['state'] == 'Massachusetts']