                                                    DATA WRANGLING

In [1]:
import requests

In [2]:
import numpy as np
import pandas as pd

In [3]:
data = [f'2023-02-0{i}' for i in np.arange(1, 10, 1)] #1 a 10 de 1 em 1

In [4]:
data

['2023-02-01',
 '2023-02-02',
 '2023-02-03',
 '2023-02-04',
 '2023-02-05',
 '2023-02-06',
 '2023-02-07',
 '2023-02-08',
 '2023-02-09']

In [5]:
dataf = [f'2023-04-01' for i in np.arange(1, 10, 1)]

In [6]:
df = pd.DataFrame({'Data1': data, 'Data2': dataf})

In [7]:
df

        Data1       Data2
0  2023-02-01  2023-04-01
1  2023-02-02  2023-04-01
2  2023-02-03  2023-04-01
3  2023-02-04  2023-04-01
4  2023-02-05  2023-04-01
5  2023-02-06  2023-04-01
6  2023-02-07  2023-04-01
7  2023-02-08  2023-04-01
8  2023-02-09  2023-04-01