Exemplo de classe com tabela anomes

In [1]:
from datetime import datetime

In [2]:
class Dataprep:
    def __init__(self,df):
        self.df = df

    def add_anomes(self):
        agora = datetime.now()
        anomes = agora.strftime('%Y%m')
        self.df['Anomes'] = anomes

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame({'Nome': ['Joao','Matheus','Maria'], 'Idade': [29,28,43]})

In [5]:
df

      Nome  Idade
0     Joao     29
1  Matheus     28
2    Maria     43

In [6]:
preparacao = Dataprep(df)

In [7]:
preparacao.df

      Nome  Idade
0     Joao     29
1  Matheus     28
2    Maria     43

In [8]:
preparacao.add_anomes()

In [9]:
preparacao.df

      Nome  Idade  Anomes
0     Joao     29  202308
1  Matheus     28  202308
2    Maria     43  202308