In [417]:
import pandas as pd
from datetime import datetime
from plyer import notification
import requests
import numpy as np
import sqlite3

In [382]:
conn = sqlite3.connect('coderhouse.db')

In [383]:
url_corretoras = 'https://brasilapi.com.br/api/cvm/corretoras/v1' #corretoras ok
base_corretoras = 'Corretoras'
url_bancos = 'https://brasilapi.com.br/api/banks/v1' #bancos ok
base_bancos = 'Bancos'
url_paises = 'https://restcountries.com/v3.1/all' #rest countries ok
base_paises = 'Rest Countries'
etapa = 'Carregamento de dados'

In [384]:
def Alerta(nivel, base, etapa):
    
    data_atual = datetime.now()
    data_formatada = data_atual.strftime('%d/%m/%d')
    mensagem = (f'Falha no carregamento da base {base} na etapa {etapa} em {data_formatada}')
    title = nivel
    notification.notify(title = title, message= mensagem, timeout= 10)

In [385]:
def Extraçao(url,base,etapa):

    global df_bancos, df_corretoras, df_resties

    request = requests.get(url)
    response_code = request.status_code
    if response_code == 200:
        if url == url_bancos:
            df_bancos = pd.DataFrame(request.json())
            return(df_bancos)
        elif url == url_corretoras:
            df_corretoras = pd.DataFrame(request.json())
            return(df_corretoras)
        elif url == url_paises:
            df_resties = pd.DataFrame(request.json())
            return(df_resties)
        else:
            print('URL fora da base de dados.')
    else:
        nivel = 'ATENÇÃO: Erro Grave'
        Alerta(nivel = nivel, base = base, etapa = etapa)
        return

In [418]:
Extraçao(url_corretoras,base_corretoras,etapa)

,cnpj,type,nome_social,nome_comercial,status,email,telefone,cep,pais,uf,municipio,bairro,complemento,logradouro,data_patrimonio_liquido,valor_patrimonio_liquido,codigo_cvm,data_inicio_situacao,data_registro
0,76621457000185,CORRETORAS,4UM DTVM S.A.,4UM INVESTIMENTOS,CANCELADA,controle@4um.com.br,33519966,80420210,BRASIL,PR,CURITIBA,CENTRO,4º ANDAR,R. VISCONDE DO RIO BRANCO 1488,2005-12-31,4228660.18,2275,2006-10-05,1968-01-15
1,33817677000176,CORRETORAS,ABC BRASIL DISTRIBUIDORA DE TÍTULOS E VALORES ...,ABC BRASIL CORRETORA,CANCELADA,regina.tkatch@abcbrasil.com.br,31702172,1453000,,SP,SÃO PAULO,ITAIM BIBI,2º ANDAR,"AV. CIDADE JARDIM, 803",2002-12-31,0.00,3514,2002-10-14,2002-10-14
2,10664027000132,CORRETORAS,ABERTURA CCVM LTDA,ABERTURA CCVM LTDA,CANCELADA,,,50010240,BRASIL,PE,RECIFE,,,R DO IMP.D.PEDRO II 239/CJ.102,1989-12-31,5995252.29,329,1990-06-12,1986-07-08
3,44527444000155,CORRETORAS,ABN AMRO CORRETORA DE T-TULOS E VALORES MOBILI...,,EM FUNCIONAMENTO NORMAL,canal.comunicacao@br.abnamro.com,30737417,4551010,,SP,SÃO PAULO,VILA OLIMPIA,"11¦ ANDAR, CJ. 111","RUA FIDÛNCIO RAMOS, N¦ 302, TORRE B",2022-12-31,3729687.41,3794,2022-06-20,2022-06-20
4,33819590000138,CORRETORAS,AÇÃO S.A. CORRETORA DE VALORES E CÂMBIO,ACAO SA CVC,CANCELADA,,5095755,20040040,BRASIL,RJ,RIO DE JANEIRO,CENTRO,,"PRAÇA OLAVO BILAC, 28/ SL. 608",2000-12-31,291862.38,1112,2001-04-11,1968-04-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
367,01170892000131,CORRETORAS,VOTORANTIM CTVM LTDA,VOTORANTIM,CANCELADA,demandasregulatorias@bancovotorantim.com.br,51711894,4794000,BRASIL,SP,SÃO PAULO,VL.GERTRUDES,TORRE A-14º ANDAR,"AV DAS NAÇÕES UNIDAS, 14.171",2017-12-31,266791832.77,3166,2018-08-27,1996-03-15
368,61769790000169,CORRETORAS,WALPIRES S/A CCTVM,WALPIRES S/A CCTVM,CANCELADA,andre@walpires.com.br,28087065,1452002,BRASIL,SP,SÃO PAULO,JARDIM PAULISTANO,1309 - 9ºANDAR,AVENIDA BRIGADEIRO FARIA LIMA,2017-12-31,7464373.90,1902,2019-09-24,1967-09-20
369,92875780000131,CORRETORAS,WARREN CORRETORA DE VALORES MOBILIÁRIOS E CÂMB...,WARREN CORRETORA,EM FUNCIONAMENTO NORMAL,compliance@warren.com.br,32372273,90035191,,RS,PORTO ALEGRE,BOM FIM,2º ANDAR,"AVENIDA OSVALDO ARANHA, 720",2022-12-31,23398120.52,2534,1967-12-06,1967-12-06
370,24543688000114,CORRETORAS,WARREN CORRETORA DE VALORES MOBILIÁRIOS E CÂMB...,PERFIL,CANCELADA,,2249022,52061540,BRASIL,PE,RECIFE,CASA FORTE,,"AV.17 DE AGOSTO,2579",1996-12-31,608260.02,2658,1997-02-21,1989-11-14
371,02332886000104,CORRETORAS,XP INVESTIMENTOS CCTVM S.A.,XP INVESTIMENTOS,EM FUNCIONAMENTO NORMAL,lucas.rabechini@xpi.com.br,30272237,22440032,EGITO,RJ,RIO DE JANEIRO,LEBLON,5º Andar,AVENIDA ATAULFO DE PAIVA 153,2022-12-31,8288904369.58,3247,1998-02-10,1997-12-05

In [308]:
df_bancos.head(2)

       ispb                        name  code                      fullName
0  00000000          BCO DO BRASIL S.A.   1.0          Banco do Brasil S.A.
1  00000208  BRB - BCO DE BRASILIA S.A.  70.0  BRB - BANCO DE BRASILIA S.A.

In [398]:
df_corretoras.head(2)

,cnpj,type,nome_social,nome_comercial,status,email,telefone,cep,pais,uf,municipio,bairro,complemento,logradouro,data_patrimonio_liquido,valor_patrimonio_liquido,codigo_cvm,data_inicio_situacao,data_registro
0,76621457000185,CORRETORAS,4UM DTVM S.A.,4UM INVESTIMENTOS,CANCELADA,controle@4um.com.br,33519966,80420210,BRASIL,PR,CURITIBA,CENTRO,4º ANDAR,R. VISCONDE DO RIO BRANCO 1488,2005-12-31,4228660.18,2275,2006-10-05,1968-01-15
1,33817677000176,CORRETORAS,ABC BRASIL DISTRIBUIDORA DE TÍTULOS E VALORES ...,ABC BRASIL CORRETORA,CANCELADA,regina.tkatch@abcbrasil.com.br,31702172,1453000,,SP,SÃO PAULO,ITAIM BIBI,2º ANDAR,"AV. CIDADE JARDIM, 803",2002-12-31,0.00,3514,2002-10-14,2002-10-14

In [321]:
df_resties.head(2)

,name,tld,cca2,ccn3,cca3,cioc,independent,status,unMember,currencies,...,gini,fifa,car,timezones,continents,flags,coatOfArms,startOfWeek,capitalInfo,postalCode
0,"{'common': 'Palestine', 'official': 'State of ...","[.ps, فلسطين.]",PS,275,PSE,PLE,False,officially-assigned,False,"{'EGP': {'name': 'Egyptian pound', 'symbol': '...",...,{'2016': 33.7},PLE,"{'signs': ['PS'], 'side': 'right'}",[UTC+02:00],[Asia],"{'png': 'https://flagcdn.com/w320/ps.png', 'sv...",{'png': 'https://mainfacts.com/media/images/co...,sunday,"{'latlng': [31.9, 35.2]}",NaN
1,"{'common': 'Kuwait', 'official': 'State of Kuw...",[.kw],KW,414,KWT,KUW,True,officially-assigned,True,"{'KWD': {'name': 'Kuwaiti dinar', 'symbol': 'د...",...,NaN,KUW,"{'signs': ['KWT'], 'side': 'right'}",[UTC+03:00],[Asia],"{'png': 'https://flagcdn.com/w320/kw.png', 'sv...",{'png': 'https://mainfacts.com/media/images/co...,sunday,"{'latlng': [29.37, 47.97]}","{'format': '#####', 'regex': '^(\d{5})$'}"

In [268]:
'''
while True: 
    response = requests.get(url)
    response_code = response.status_code
    break
'''

'\nwhile True: \n    response = requests.get(url)\n    response_code = response.status_code\n    break\n'

In [269]:
'''
if response_code == 200:
    data_json = response.json()
    df = pd.DataFrame(data_json)
    print('Requisição Completa')
else:
    nivel = 'ATENÇÃO: Erro Grave'
    Alerta(nivel = nivel, base='Data_Bank',etapa='Extração')

'''

"\nif response_code == 200:\n    data_json = response.json()\n    df = pd.DataFrame(data_json)\n    print('Requisição Completa')\nelse:\n    nivel = 'ATENÇÃO: Erro Grave'\n    Alerta(nivel = nivel, base='Data_Bank',etapa='Extração')\n\n"

                                              INICIANDO TRATAMENTO DO DF_PAISES

In [322]:
while True:
    paises = [pais['common']for pais in df_resties['name']]
    capital = [cap for cap in df_resties['capital']]
    lingua = [lig for lig in df_resties['languages']]
    regiao = [reg for reg in df_resties['region']]
    sigla = [sig for sig in df_resties['cca3']]
    fronteira = [front for front in df_resties['borders']]
    populacao = [pop for pop in df_resties['population']]
    break

In [323]:
df_paises_mod = pd.DataFrame({
    'Pais': paises, 'Capital': capital,
    'Idioma': lingua, 'Continente': regiao,
    'Sigla': sigla, 'Fronteiras': fronteira,
    'Populaçao': populacao
    })

In [324]:
df_paises_mod.head(2)

,Pais,Capital,Idioma,Continente,Sigla,Fronteiras,Populaçao
0,Palestine,"[Ramallah, Jerusalem]",{'ara': 'Arabic'},Asia,PSE,"[ISR, EGY, JOR]",4803269
1,Kuwait,[Kuwait City],{'ara': 'Arabic'},Asia,KWT,"[IRQ, SAU]",4270563

In [325]:
df_paises_mod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Pais        250 non-null    object
 1   Capital     246 non-null    object
 2   Idioma      249 non-null    object
 3   Continente  250 non-null    object
 4   Sigla       250 non-null    object
 5   Fronteiras  165 non-null    object
 6   Populaçao   250 non-null    int64
dtypes: int64(1), object(6)
memory usage: 13.8+ KB

In [326]:
df_paises_mod['Idioma'].isnull()

0      False
1      False
2      False
3      False
4      False
       ...
245    False
246    False
247    False
248    False
249    False
Name: Idioma, Length: 250, dtype: bool

In [327]:
df_paises_mod['Idioma'].fillna('NA', inplace=True)

In [328]:
df_paises_mod['Capital'].isnull()

0      False
1      False
2      False
3      False
4      False
       ...
245    False
246    False
247    False
248    False
249    False
Name: Capital, Length: 250, dtype: bool

In [329]:
df_paises_mod['Capital'].fillna('NA', inplace=True)

In [330]:
df_paises_mod['Fronteiras'].isnull()#front_nan =

0      False
1      False
2      False
3       True
4      False
       ...
245     True
246     True
247     True
248     True
249    False
Name: Fronteiras, Length: 250, dtype: bool

In [331]:
df_paises_mod['Fronteiras'].fillna('NA', inplace=True)

In [332]:
df_paises_mod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Pais        250 non-null    object
 1   Capital     250 non-null    object
 2   Idioma      250 non-null    object
 3   Continente  250 non-null    object
 4   Sigla       250 non-null    object
 5   Fronteiras  250 non-null    object
 6   Populaçao   250 non-null    int64
dtypes: int64(1), object(6)
memory usage: 13.8+ KB

In [333]:
df_paises_mod.head(1)

,Pais,Capital,Idioma,Continente,Sigla,Fronteiras,Populaçao
0,Palestine,"[Ramallah, Jerusalem]",{'ara': 'Arabic'},Asia,PSE,"[ISR, EGY, JOR]",4803269

ENVIANDO PARA O BANCO DE DADOS O DF_PAISES_MOD

In [ ]:
''''''

                                         INICIANDO TRATAMENTO DO DF_BANCOS

In [334]:
df_bancos.head()

,ispb,name,code,fullName
0,00000000,BCO DO BRASIL S.A.,1.0,Banco do Brasil S.A.
1,00000208,BRB - BCO DE BRASILIA S.A.,70.0,BRB - BANCO DE BRASILIA S.A.
2,00038121,Selic,NaN,Banco Central do Brasil - Selic
3,00038166,Bacen,NaN,Banco Central do Brasil
4,00122327,SANTINVEST S.A. - CFI,539.0,"SANTINVEST S.A. - CREDITO, FINANCIAMENTO E INV..."

In [335]:
df_bancos['code'].fillna(0, inplace=True)

In [336]:
df_bancos.head()

,ispb,name,code,fullName
0,00000000,BCO DO BRASIL S.A.,1.0,Banco do Brasil S.A.
1,00000208,BRB - BCO DE BRASILIA S.A.,70.0,BRB - BANCO DE BRASILIA S.A.
2,00038121,Selic,0.0,Banco Central do Brasil - Selic
3,00038166,Bacen,0.0,Banco Central do Brasil
4,00122327,SANTINVEST S.A. - CFI,539.0,"SANTINVEST S.A. - CREDITO, FINANCIAMENTO E INV..."

In [337]:
df_bancos['code'] = df_bancos['code'].astype(int)

In [338]:
colunas_com_nan = ['name', 'fullName']

In [339]:
df_bancos = df_bancos.dropna(subset=colunas_com_nan)

In [340]:
df_bancos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 357 entries, 0 to 356
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ispb      357 non-null    object
 1   name      357 non-null    object
 2   code      357 non-null    int32
 3   fullName  357 non-null    object
dtypes: int32(1), object(3)
memory usage: 12.6+ KB

In [341]:
df_bancos.head(2)

       ispb                        name  code                      fullName
0  00000000          BCO DO BRASIL S.A.     1          Banco do Brasil S.A.
1  00000208  BRB - BCO DE BRASILIA S.A.    70  BRB - BANCO DE BRASILIA S.A.

ENVIANDO PARA O BANCO DE DADOS APÓS TRATAMENTO DO DF

In [342]:
df_bancos.to_sql('bancos', conn,if_exists='replace',index=False)

357

                                        INICIANDO TRATAMENTO DO DF_CORRETORAS

In [419]:
df_corretoras.head(2)

,cnpj,type,nome_social,nome_comercial,status,email,telefone,cep,pais,uf,municipio,bairro,complemento,logradouro,data_patrimonio_liquido,valor_patrimonio_liquido,codigo_cvm,data_inicio_situacao,data_registro
0,76621457000185,CORRETORAS,4UM DTVM S.A.,4UM INVESTIMENTOS,CANCELADA,controle@4um.com.br,33519966,80420210,BRASIL,PR,CURITIBA,CENTRO,4º ANDAR,R. VISCONDE DO RIO BRANCO 1488,2005-12-31,4228660.18,2275,2006-10-05,1968-01-15
1,33817677000176,CORRETORAS,ABC BRASIL DISTRIBUIDORA DE TÍTULOS E VALORES ...,ABC BRASIL CORRETORA,CANCELADA,regina.tkatch@abcbrasil.com.br,31702172,1453000,,SP,SÃO PAULO,ITAIM BIBI,2º ANDAR,"AV. CIDADE JARDIM, 803",2002-12-31,0.00,3514,2002-10-14,2002-10-14

In [420]:
df_corretoras_mod = df_corretoras

In [421]:
df_corretoras_mod.head(2)

,cnpj,type,nome_social,nome_comercial,status,email,telefone,cep,pais,uf,municipio,bairro,complemento,logradouro,data_patrimonio_liquido,valor_patrimonio_liquido,codigo_cvm,data_inicio_situacao,data_registro
0,76621457000185,CORRETORAS,4UM DTVM S.A.,4UM INVESTIMENTOS,CANCELADA,controle@4um.com.br,33519966,80420210,BRASIL,PR,CURITIBA,CENTRO,4º ANDAR,R. VISCONDE DO RIO BRANCO 1488,2005-12-31,4228660.18,2275,2006-10-05,1968-01-15
1,33817677000176,CORRETORAS,ABC BRASIL DISTRIBUIDORA DE TÍTULOS E VALORES ...,ABC BRASIL CORRETORA,CANCELADA,regina.tkatch@abcbrasil.com.br,31702172,1453000,,SP,SÃO PAULO,ITAIM BIBI,2º ANDAR,"AV. CIDADE JARDIM, 803",2002-12-31,0.00,3514,2002-10-14,2002-10-14

In [422]:
df_corretoras_mod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 372 entries, 0 to 371
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   cnpj                      372 non-null    object
 1   type                      372 non-null    object
 2   nome_social               372 non-null    object
 3   nome_comercial            372 non-null    object
 4   status                    372 non-null    object
 5   email                     372 non-null    object
 6   telefone                  372 non-null    object
 7   cep                       372 non-null    object
 8   pais                      372 non-null    object
 9   uf                        372 non-null    object
 10  municipio                 372 non-null    object
 11  bairro                    372 non-null    object
 12  complemento               372 non-null    object
 13  logradouro                372 non-null    object
 14  data_patrimonio_liquido   372 non-null    object
 15  valor_patrimonio_liquido  372 non-null    object
 16  codigo_cvm                372 non-null    object
 17  data_inicio_situacao      372 non-null    object
 18  data_registro             372 non-null    object
dtypes: object(19)
memory usage: 55.3+ KB

In [423]:
df_corretoras_mod['data_patrimonio_liquido']

0      2005-12-31
1      2002-12-31
2      1989-12-31
3      2022-12-31
4      2000-12-31
          ...
367    2017-12-31
368    2017-12-31
369    2022-12-31
370    1996-12-31
371    2022-12-31
Name: data_patrimonio_liquido, Length: 372, dtype: object

In [427]:
df_corretoras_mod['data_patrimonio_liquido'] = pd.to_datetime(df_corretoras_mod['data_patrimonio_liquido'])

C:\Users\thiag\AppData\Local\Temp\ipykernel_12272\3315840712.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_corretoras_mod['data_patrimonio_liquido'] = pd.to_datetime(df_corretoras_mod['data_patrimonio_liquido'])

In [425]:
df_corretoras_mod['data_patrimonio_liquido'] = df_corretoras_mod['data_patrimonio_liquido'].dt.strftime('%d/%m/%Y')

In [428]:
df_corretoras_mod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 372 entries, 0 to 371
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   cnpj                      372 non-null    object
 1   type                      372 non-null    object
 2   nome_social               372 non-null    object
 3   nome_comercial            372 non-null    object
 4   status                    372 non-null    object
 5   email                     372 non-null    object
 6   telefone                  372 non-null    object
 7   cep                       372 non-null    object
 8   pais                      372 non-null    object
 9   uf                        372 non-null    object
 10  municipio                 372 non-null    object
 11  bairro                    372 non-null    object
 12  complemento               372 non-null    object
 13  logradouro                372 non-null    object
 14  data_patrimonio_liquido   369 non-null    datetime64[ns]
 15  valor_patrimonio_liquido  372 non-null    object
 16  codigo_cvm                372 non-null    object
 17  data_inicio_situacao      372 non-null    object
 18  data_registro             372 non-null    object
dtypes: datetime64[ns](1), object(18)
memory usage: 55.3+ KB

In [429]:
df_corretoras_mod['data_inicio_situacao']

0      2006-10-05
1      2002-10-14
2      1990-06-12
3      2022-06-20
4      2001-04-11
          ...
367    2018-08-27
368    2019-09-24
369    1967-12-06
370    1997-02-21
371    1998-02-10
Name: data_inicio_situacao, Length: 372, dtype: object

In [430]:
df_corretoras_mod['data_inicio_situacao'] = pd.to_datetime(df_corretoras_mod['data_inicio_situacao'])

In [431]:
df_corretoras_mod['data_inicio_situacao'] = df_corretoras_mod['data_inicio_situacao'].dt.strftime('%d/%m/%Y')

In [432]:
df_corretoras_mod['data_registro'] = pd.to_datetime(df_corretoras_mod['data_registro'])

In [433]:
df_corretoras_mod['data_registro'] = df_corretoras_mod['data_registro'].dt.strftime('%d/%m/%Y')

In [434]:
df_corretoras_mod.head(1)

,cnpj,type,nome_social,nome_comercial,status,email,telefone,cep,pais,uf,municipio,bairro,complemento,logradouro,data_patrimonio_liquido,valor_patrimonio_liquido,codigo_cvm,data_inicio_situacao,data_registro
0,76621457000185,CORRETORAS,4UM DTVM S.A.,4UM INVESTIMENTOS,CANCELADA,controle@4um.com.br,33519966,80420210,BRASIL,PR,CURITIBA,CENTRO,4º ANDAR,R. VISCONDE DO RIO BRANCO 1488,2005-12-31,4228660.18,2275,05/10/2006,15/01/1968

In [375]:
colunas_nan_corretora = ['data_patrimonio_liquido']

In [376]:
df_corretoras = df_corretoras.dropna(subset=colunas_nan_corretora)

In [377]:
df_corretoras.head(1)

,cnpj,type,nome_social,nome_comercial,status,email,telefone,cep,pais,uf,municipio,bairro,complemento,logradouro,data_patrimonio_liquido,valor_patrimonio_liquido,codigo_cvm,data_inicio_situacao,data_registro
0,76621457000185,CORRETORAS,4UM DTVM S.A.,4UM INVESTIMENTOS,CANCELADA,controle@4um.com.br,33519966,80420210,BRASIL,PR,CURITIBA,CENTRO,4º ANDAR,R. VISCONDE DO RIO BRANCO 1488,31/12/2005,4228660.18,2275,05/10/2006,15/01/1968

In [ ]:
df_corretoras.to_sql('corretoras', conn,if_exists='replace',index=False)

369

In [ ]:
df_paises_mod.to_sql('fastfood', conn,if_exists='replace',index=False)

ProgrammingError: Error binding parameter 2: type 'list' is not supported