                                                   PROJETO FINAL CODERHOUSE

1º ETAPA 
- ESCOLHER UMA API DA LISTA DISPONÍVEL;
- FAZER A EXTRAÇÃO DE PELO MENOS 3 TABELAS;
- CRIAR UM ALERTA DE ERRO USANDO A FUNÇÃO ALERTA() DO DESAFIO DA AULA DE FUNDAMENTOS DE  PROGRAMA III
- SUBIR ARQUIVO NO GITHUB E FORNECER LINK NO ICONE DE ENTRADA CODERHOUSE.

Grupo: Pedro Alves Bacurau Junior, Regiane Rodrigues, Rafael Souza Morgado, Thiago Almeida

In [4]:
import pandas as pd
from datetime import datetime
from plyer import notification
import requests

In [5]:
#url = 'https://brasilapi.com.br/api/banks/v1' #bancos ok
#url = 'https://brasilapi.com.br/api#tag/TAXAS/ibge/uf/v1' #capitais erro 404
#url = 'https://brasilapi.com.br/api/cvm/corretoras/v1' #corretoras ok
url = 'https://brasilapi.com.br/api/ibge/municipios/v1/SP?providers=dados-abertos-br,gov,wikipedia' #ibge ok

In [6]:
def Alerta(nivel, base, etapa):
    #base = base
    #etapa = etapa
    data_atual = datetime.now()
    data_formatada = data_atual.strftime('%d/%m/%d')
    mensagem = (f'Falha no carregamento da base {base} na etapa {etapa} em {data_formatada}')
    title = nivel
    notification.notify(title = title, message= mensagem, timeout= 10)

In [7]:
while True: 
    response = requests.get(url)
    response_code = response.status_code
    break

In [8]:
if response_code == 200:
    data_json = response.json()
    df = pd.DataFrame(data_json)
    print('Requisição Completa')
else:
    nivel = 'ATENÇÃO: Erro Grave'
    Alerta(nivel = nivel, base='Data_Bank',etapa='Extração')

Requisição Completa

In [10]:
df.head()

               nome codigo_ibge
0        ADAMANTINA     3500105
1            ADOLFO     3500204
2             AGUAI     3500303
3    AGUAS DA PRATA     3500402
4  AGUAS DE LINDOIA     3500501