In [6]:
import pandas as pd
import requests
from datetime import datetime
from plyer import notification

In [17]:
#url = 'https://brasilapi.com.br/api/banks/v1' #bancos ok
url = 'https://brasilapi.com.br/api#tag/TAXAS/ibge/uf/v1' #capitais erro 404
#url = 'https://brasilapi.com.br/api/cvm/corretoras/v1' #corretoras ok

In [18]:
def Alerta(nivel, base, etapa):
    base = base
    etapa = etapa
    data_atual = datetime.now()
    data_formatada = data_atual.strftime('%d/%m/%d')
    mensagem = (f'Falha no carregamento da base {base} na etapa {etapa} em {data_formatada}')
    title = nivel
    notification.notify(title = title, message= mensagem, timeout= 10)

In [19]:
while True:
    response = requests.get(url)
    response_code = response.status_code
    break

In [20]:
if response_code == 200:
    data_json = response.json()
    df = pd.DataFrame(data_json)
    print('Requisição Completa')
elif response_code >= 400 and response_code < 500:
    nivel = 'ATENÇÃO: Erro Grave'
    Alerta(nivel = nivel, base='Data_Bank',etapa='Extração')
elif response_code >=500 and response_code < 600:
    nivel = 'ATENÇÃO: Erro Médio'
    Alerta(nivel = nivel, base='Data_Bank',etapa='Extração')
else:
    print('Erro Desconhecido')

In [15]:
df.head()

,ispb,name,code,fullName
0,00000000,BCO DO BRASIL S.A.,1.0,Banco do Brasil S.A.
1,00000208,BRB - BCO DE BRASILIA S.A.,70.0,BRB - BANCO DE BRASILIA S.A.
2,00038121,Selic,NaN,Banco Central do Brasil - Selic
3,00038166,Bacen,NaN,Banco Central do Brasil
4,00122327,SANTINVEST S.A. - CFI,539.0,"SANTINVEST S.A. - CREDITO, FINANCIAMENTO E INV..."