                                                   PROJETO FINAL CODERHOUSE

1º ETAPA 
- ESCOLHER UMA API DA LISTA DISPONÍVEL;
- FAZER A EXTRAÇÃO DE PELO MENOS 3 TABELAS;
- CRIAR UM ALERTA DE ERRO USANDO A FUNÇÃO ALERTA() DO DESAFIO DA AULA DE FUNDAMENTOS DE  PROGRAMA III
- SUBIR ARQUIVO NO GITHUB E FORNECER LINK NO ICONE DE ENTRADA CODERHOUSE.

Grupo: Pedro Alves Bacurau Junior, Regiane Rodrigues, Rafael Souza Morgado, Thiago Almeida

In [1]:
import pandas as pd
from datetime import datetime
from plyer import notification
import requests

In [10]:
url = 'https://brasilapi.com.br/api/banks/v1' #bancos ok
#url = 'https://brasilapi.com.br/api/cvm/corretoras/v1' #corretoras ok
#url = 'https://brasilapi.com.br/api/ibge/municipios/v1/SP?providers=dados-abertos-br,gov,wikipedia' #ibge ok
#url = 'https://brasilapi.com.br/api#tag/IBGE/fipe/tabelas/v1'
#url = 'https://restcountries.com/v3.1/independent?status=true'
#url = 'https://restcountries.com/v3.1/all'
#url = 'https://restcountries.com/v3.1/name/deutschland'
#url = 'https://restcountries.com/v3.1/name/aruba?fullText=true'

In [11]:
def Alerta(nivel, base, etapa):
    
    data_atual = datetime.now()
    data_formatada = data_atual.strftime('%d/%m/%d')
    mensagem = (f'Falha no carregamento da base {base} na etapa {etapa} em {data_formatada}')
    title = nivel
    notification.notify(title = title, message= mensagem, timeout= 10)

In [12]:
while True: 
    response = requests.get(url)
    response_code = response.status_code
    break

In [14]:
if response_code == 200:
    data_json = response.json()
    df = pd.DataFrame(data_json)
    print('Requisição Completa')
else:
    nivel = 'ATENÇÃO: Erro Grave'
    Alerta(nivel = nivel, base='Data_Bank',etapa='Extração')

Requisição Completa

In [15]:
df.head()

,ispb,name,code,fullName
0,00000000,BCO DO BRASIL S.A.,1.0,Banco do Brasil S.A.
1,00000208,BRB - BCO DE BRASILIA S.A.,70.0,BRB - BANCO DE BRASILIA S.A.
2,00038121,Selic,NaN,Banco Central do Brasil - Selic
3,00038166,Bacen,NaN,Banco Central do Brasil
4,00122327,SANTINVEST S.A. - CFI,539.0,"SANTINVEST S.A. - CREDITO, FINANCIAMENTO E INV..."

In [16]:
df_bancos = df

In [17]:
df_bancos.head(2)

       ispb                        name  code                      fullName
0  00000000          BCO DO BRASIL S.A.   1.0          Banco do Brasil S.A.
1  00000208  BRB - BCO DE BRASILIA S.A.  70.0  BRB - BANCO DE BRASILIA S.A.

In [ ]:
#for estado in df['sigla'].unique()[1:3]:
    #url = f'https://brasilapi.com.br/api/ibge/municipios/v1/{estado}?providers=dados-abertos-br,gov,wikipedia'
    #req = requests.get(url)
    #data_json = req.json()
    #df = pd.DataFrame(data_json)
    #df = pd.concat(df, df_mun)